stats.dtd

<?xml version="1.0" encoding="UTF-8"?>
        <!ELEMENT stats (ueberlos,started,moneyspent,moneyearned,propertiesbought)>
        <!ELEMENT ueberlos (#PCDATA)>
        <!ELEMENT started (#PCDATA)>
        <!ELEMENT moneyspent (#PCDATA)>
        <!ELEMENT moneyearned (#PCDATA)>
        <!ELEMENT propertiesbought (#PCDATA)>
